.git
.github
.gitignore
.vscode/**
.vscode-test/**
src/**
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/**
bun.lockb
.prettierrc
eslint.config.cjs
.editorconfig
.eslintignore
.prettierignore
.DS_Store
*.vsix 